<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>YUGIOH GAME</title>
</head>
<body>
    <div id="app">
        <!-- Menu game -->
        <div class="background"></div>
        <div class="menu">
            <img 
            src="https://carlisletheacarlisletheatre.org/images/yugioh-logo-transparent-5.png" 
            alt=""
            class="logo" v-if="where.name !== 'duelar' && where.name !== 'duel'">
            <div v-if="where.name == 'newGame'">
            <button v-if="save == null"
            @click="acess('game')">
            Iniciar um novo jogo
            </button>
            <button 
            v-else="" 
            @click="acess('game')">
                Continuar de onde parei
            </button>
            <button
            @click="acess('Credits')">
            Créditos
            </button>
            </div>
            <div v-if="where.name == 'Credits'">
                    <h1>Jogo criado por Kaway404 and PassaUmDollar</h1>
                    <button
                    @click="acess('newGame')">
                    Voltar
                    </button>
            </div>
            <div v-if="where.name == 'game'">
                <button @click="acess('duelar')">
                    Duelar
                </button>
            </div>
            <div v-if="where.name == 'duelar'">
                <div class="oponente"
                    v-for="enemy in oponentes"
                    @click="selectEnemy(enemy)">
                    <div class="trans"></div>
                    <img :src="enemy.image" alt="">
                </div>
            </div>
        </div>

        <div class="duelo" v-if="where.name == 'duel'">
            <div class="myAvatar avatar" v-bind:class="{ vezDe: vez == 0 }">
                <div class="trans"></div>
                <img src="https://uploads3.yugioh.com/character/3/detail/detail/yamiyugi-l.png?1371744397" alt="">
                <h1>{{ player.life }} <br> <span v-if="attack == -1 && vez == 0">Jogue uma carta</span> <span v-if="attack == 0">Ataque</span> <span v-if="attack == 1 && vez == 1">Aguarde sua vez</span> </h1>
            </div>
            <div class="myAvatar enemyAvatar avatar" v-bind:class="{ vezDe: vez == 1 }">
                    <div class="trans"></div>
                    <img :src="enemyDuelo.image" alt="">
                    <h1>{{ enemyPlayer.life }} <br>  <span v-if="attack == 1">Comprando</span> </h1>
             </div>
            <div class="background"></div>
            <div class="myDropCard drop">
                <div v-for="card in myDropCard" v-for="card in enemyDropCard" class="card" style="background: transparent !important;" v-for="card in myHand"
                    v-bind:class="{ selectCard: card.selected }" 
                    @mouseenter="cardOver(card)"
                    @mouseleave="cardOut(card)"
                    @click="selectAttack(card)">
                <div class="card">
                            <div class="trans"></div>
                            <img :src="'./assets/cards/' + card.image" alt="">
                            <div class="morreu" v-if="card.die">
                                    <img src="./assets/cards/fire.gif" alt="">
                            </div>
                </div>
                </div>
            </div>
            <div class="enemyDropCard drop" @click="atackDireto">
                <div v-for="card in enemyDropCard" class="card" style="background: transparent !important;" v-for="card in myHand"
                    v-bind:class="{ selectCard: card.selected }"
                    @mouseenter="cardOver(card)"
                    @mouseleave="cardOut(card)"
                    @click="attackCard(card)">
                <div class="card">
                        <div class="trans"></div>
                        <img :src="'./assets/cards/' + card.image" alt="">
                        <div class="morreu" v-if="card.die">
                            <img src="./assets/cards/fire.gif" alt="">
                        </div>
                </div>
            </div>
            </div>
            <div class="viewCard">
                <div class="trans"></div>
                <img :src="'./assets/cards/' + hoverCard.image">
            </div>
            <div class="myHand">
                <center>
                <div class="card" style="background: transparent !important;" v-for="card in myHand"
                v-bind:class="{ selected: card.selected }" :key="card">
                <div class="card"
                @mouseenter="cardOver(card, true)"
                @mouseleave="cardOut(card, true)"
                @click="playCard(card)"
                v-bind:class="{ animateCard: card.moved }" >
                <div class="trans"></div>
                    <img :src="'./assets/cards/' + card.image" alt="">
                </div>
                </div>
                </div>
           
                </center>
            <div class="enemyHand">
                    <div class="card" v-for="card in enemyHand" v-bind:class="{ animeteEnemyCard: card.moved }">
                                <div class="trans"></div>
                                <img src="./assets/cards/back.jpg" alt="">
                    </div>
            </div>
        </div>
    </div>

        <!-- End menu -->
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./assets/js/game.js"></script>

</html>